body {
    background-color: rgb(70, 142, 236);
    font: normal 1.5rem arial;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: 0.625rem;
    padding: 0.9375rem;
    width: 31.25rem;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.362);
}

div {
    text-align: center;
    padding: 0.5rem
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}